  <!-- CONTACT PART STAR -->
  <section id="contact" class="contact-area pt-125 pb-130 gray-bg " data-scroll-index="5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center pb-25">
                    <h2 class="title">Get In <span> Touch </span></h2>
                    <p> Im open to work in any IT related position and freelance jobs</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
      
        <div class="row justify-content-center" >


            <div class="container contact-form">
                <div class="contact-image">
                    <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
                </div>
                <form method="post">
                    <h3>Drop Me a Message</h3>
                   <div class="row">
                        <div class="col-md-6">
                            <div class="form-group m-2">
                                <input type="text" name="txtName" class="form-control" placeholder="Name *" value="" required/>
                            </div>
                            <div class="form-group mt-2 p-2">
                                <input type="text" name="txtEmail" class="form-control" placeholder="Email *" value=""  required/>
                            </div>
                            <div class="form-group m-2">
                                <input type="text" name="txtPhone" class="form-control" placeholder="Number *" value="" required/>
                            </div>
                            <!-- <div class="form-group m-2 text-center">
                                <input type="submit" name="btnSubmit" class="btnContact" value="Send" />
                            </div> -->
                        </div>
                        <div class="col-md-6">
                            <div class="form-group p-2">
                                <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                            </div>
                        </div>
                          <div class="form-group m-2 text-center">
                                <input type="submit" name="btnSubmit" class="btnContact" value="Send" />
                          </div>
                    </div>
                </form>
    </div>


            <!-- <div class="col-lg-8">
                <div class="contact-form pt-30 ">
                    <form id="contact-form" data-toggle="validator">
                        <div class="single-form">
                            <input type="text" name="name" placeholder="Name" data-error="Name is required."
                                required="required">
                        </div>
                        <div class="single-form">
                            <input type="email" name="email" placeholder="Email"
                                data-error="Valid email is required." required="required">
                        </div>
                        <div class="single-form">
                            <textarea name="message" placeholder="Message" data-error="Please,leave us a message."
                                required="required"></textarea>
                        </div> 
                        <p class="form-message"></p>
                        <div class="single-form text-center">
                            <button class="main-btn text-center" type="submit">Send Message</button>
                        </div>
                    </form>
                </div> 
            </div> -->
        </div> <!-- row -->
    </div> <!-- container -->
</section>
<!-- CONTACT PART END -->