<!-- ABOUT PART STAR -->
<section id="about" class="about-area pt-5 pb-130" data-scroll-index="2">
    <!-- <div class="shape shape-1"></div>
    <div class="shape shape-2 wow fadeInUp"></div>
    <div class="shape shape-3"></div>
    <div class="shape shape-4"></div>
    <div class="shape shape-5"></div>
    <div class="shape shape-6"></div> -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center wow fadeInUp">
                    <h1 class="title">About <span>Me</span></h1>
                    <p> Here's a little about me, my skills and my journey as a software developer </p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-6 wow fadeInLeftBig">
                <div class="about-content mt-50 wow fadeIn">
                    <h5 class="about-title">Where it all started</h5>
                    <!-- <p> I began my journey in 2010 as a 10th grader with a keen interest in cybersecurity.
                        I was introduced to programming in c++.
                        After a tough yet interesting time learning c++ I discovered python scripting,
                        and I immediately fell in love with code. Years later, 
                        I discovered web programming after matriculating, 
                        but still had a burning desire to figure out how it all works. 
                        That’s where I decided that a national diploma specializing in Embedded Systems Design
                        and Programming could be what I needed to find answers and fulfill my burning desire to learn how computers work.
                    </p> -->
                    <p>I began my journey in 2010 as a 10th grader with a keen interest in cybersecurity.</p>

                    <p class="mb-2">I was introduced to programming in c++.
                        After a tough yet interesting time learning c++ I discovered python scripting,
                        and I immediately fell in love with code.</p>

                    <p class="mb-2 mt-2"> I discovered web programming after matriculating,
                        but still had a burning desire to figure out how it all works.
                        That’s where I decided that a national diploma specializing in Embedded Systems Design
                        and Programming could be what I needed to find answers and fulfill my burning desire to learn
                        how computers work.</p>

                </div> <!-- about content -->
            </div>
            <div class="col-xl-5 offset-xl-1 col-lg-6 wow fadeInUp mt-3">
                <div class="about-content">
                    <h5 class="about-title">Personal Details</h5>
                    <ul class="clearfix">

                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="info-icon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="info-text">
                                    <p><span>Date of birth:</span> 13 Feb 1995</p>
                                </div>
                            </div> <!-- single info -->
                        </li>
                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="info-icon">
                                    <i class="fa fa-solid fa-envelope"></i>
                                </div>
                                <div class="info-text">
                                    <p><span>Email:</span> etlhako&#64;gmail.com</p>
                                </div>
                            </div> <!-- single info -->
                        </li>
                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="info-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="info-text">
                                    <p><span>Phone:</span> 0-12-345-0000</p>
                                </div>
                            </div> <!-- single info -->
                        </li>
                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="info-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="info-text">
                                    <p><span>Location:</span> Tembisa, Gauteng, ZA</p>
                                </div>
                            </div> <!-- single info -->
                        </li>
                    </ul>

                    <h5 class="about-title">Education</h5>
                    <ul class="clearfix">

                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="info-icon">
                                    <i class="fa fa-scroll"></i>
                                </div>
                                <div class="info-text">
                                    <p><span>Computer Systems Engineering </span></p>
                                    <p>Tshwane University of Technology: Completed </p>
                                </div>
                            </div> <!-- single info -->
                        </li>

                        <li>
                           <div class="single-info d-flex align-items-center">
                                <div class="info-icon">
                                    <i class="fa fa-solid fa-school"></i>
                                </div>
                                <div class="info-text ">
                                    <p><span> National Certificate : Information Technology Systems Support </span></p>
                                    <p>MICTSETA</p>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>


            </div>
            <div class="row mt-3  dflex justify-content-center align-items-center">
                <h5 class="about-title text-center">What i offer</h5>
                <p class="mt-3 text-center"> As a Product Engineer,
                    I'm not only trained in the most modern technologies and practices,
                    but I've also developed extensive experience in the entire application development lifecycle,
                    from design to development and deployment.
                    I know how to work with all levels of an organization and communicate effectively,
                    so that my teammates understand my needs as well as my clients' needs.
                </p>

            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
<!-- ABOUT PART END -->


