<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">EP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">GitHub</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">LinkedIn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
        </ul>
     
        <button class="btn btn-outline-success" type="submit">Contact me</button>
        
      </div>
    </div>
  </nav> -->


<!---- navbar star--->
<div class="navbar-area">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand avatar-holder" href="#">
          <img class="image" src="./../../../assets/images/Logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" data-scroll-nav="0" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="#work">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/etlhako-code" target="_blank">Github</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-scroll-nav="4" href="https://www.linkedin.com/in/ephraim-tlhako/" target="_blank">LinkedIn</a>
            </li>

          </ul>

        </div>
      </div>
    </nav>
  </div>
</div>