<!-- <header class="header-area">
   -->
    <app-navbar></app-navbar>

    <div class="header-hero mt-80" data-scroll-index="0">
        <!---- home star ------>
        <div class="shape shape-1"></div>
        <div class="shape shape-2"></div>
        <div class="shape shape-3"></div>
        <div class="shape shape-4"></div>
        <div class="shape shape-5"></div>
        <div class="shape shape-6"></div>
        <div class="container">
            <div class="row align-items-center justify-content-center justify-content-lg-between">
                <div class="col-lg-6 col-md-10">
                    <div class="header-hero-content">
                        <h1 class="header-title wow fadeInLeftBig" data-wow-duration="3s" data-wow-delay="0.2s">
                        My name is <span>Ephraim Tlhako</span></h1>
                         <h4>A Junior FullStack developer</h4>
                        <p class="text wow fadeInLeftBig" data-wow-duration="3s" data-wow-delay="0.4s">
                            A multi-disciplinary, multi-stack full-stack developer
                            with expertise in software development for the
                            web and mobile platforms,
                            who has a broad knowledge of programming practices in  languages like JavaScript,
                            C++, Python, C# and Java
                        </p>
                        <ul class="d-flex">
                            <li><a href="#about" class="main-btn wow fadeInLeftBig" data-wow-duration="3s"
                                    data-wow-delay="0.8s">See more</a></li>
                            <li>
                                <a href="#"
                                    class="header-video venobox wow fadeInLeftBig" data-autoplay="true"
                                    data-vbtype="video" data-wow-duration="3s" data-wow-delay="1.2s">
                                    <i class="fas fa-play"></i>
                               </a>
                           </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="header-image">
                        <img src="./../../../assets/images/board-orange.svg" alt="" class="image-1  wow fadeInRightBig"
                            data-wow-duration="3s" data-wow-delay="0.5s">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="header-shape-1">
                <img src="./../../../assets/images/header-shape-1.svg" alt="header">
            </div>
            <div class="header-shape-2">
                <img src="./../../../assets/images/header-shape-2.svg" alt="">
            </div>
        </div>
    </div>
    <!---- home star ------>
<!-- </header> -->