 /* EXPERIENCE CSS */

 .work_experience {
    position: relative;
    margin-top: 30px
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .work_experience {
        margin-top: 0
    }
}

@media(max-width:767px) {
    .work_experience {
        margin-top: 0
    }
}

// .work_experience::before {
//     position: absolute;
//     content: '';
//     left: 50%;
//     -webkit-transform: translateX(-50%);
//     -moz-transform: translateX(-50%);
//     -ms-transform: translateX(-50%);
//     -o-transform: translateX(-50%);
//     transform: translateX(-50%);
//     top: 0;
//     width: 2px;
//     height: 100%;
//     background-color: #0b6cbd
// }

@media only screen and (min-width:768px) and (max-width:991px) {
    .work_experience::before {
        display: none
    }
}

@media(max-width:767px) {
    .work_experience::before {
        display: none
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .single_experience {
        margin-top: 25px
    }
}

@media(max-width:767px) {
    .single_experience {
        margin-top: 25px
    }
}

.single_experience .experience_title {
    width: 46%
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .single_experience .experience_title {
        width: 100%
    }
}

@media(max-width:767px) {
    .single_experience .experience_title {
        width: 100%
    }
}

.single_experience .experience_title .title {
    font-size: 25px;
    font-weight: 600
}

@media(max-width:767px) {
    .single_experience .experience_title .title {
        font-size: 20px
    }
}

.single_experience .experience_title p {
    color: #0b6cbd;
    font-size: 16px;
    font-weight: 600;
    font-family: open sans, sans-serif;
    margin-top: 10px
}

@media(max-width:767px) {
    .single_experience .experience_title p {
        font-size: 15px
    }
}

.single_experience .experience_title .date {
    font-size: 16px;
    font-weight: 600;
    color: #646f87;
    font-family: open sans, sans-serif;
    margin-top: 10px
}

@media(max-width:767px) {
    .single_experience .experience_title .date {
        font-size: 15px
    }
}

.single_experience .experience_number {
    width: 8%;
    text-align: center
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .single_experience .experience_number {
        display: none
    }
}

@media(max-width:767px) {
    .single_experience .experience_number {
        display: none
    }
}

.single_experience .experience_number div {
    width: 55px;
    height: 55px;
    line-height: 51px;
    text-align: center;
    border: 2px solid #0b6cbd;
    font-size: 20px;
    font-family: open sans, sans-serif;
    color: #0b6cbd;
    border-radius: 50%;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    background-color: #fff
}

.single_experience .experience_content {
    -webkit-box-shadow: 0 0 10px 0 rgba(196, 196, 196, .3);
    -moz-box-shadow: 0 0 10px 0 rgba(196, 196, 196, .3);
    box-shadow: 0 0 10px 0 rgba(196, 196, 196, .3);
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    width: 46%;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .single_experience .experience_content {
        width: 100%;
        margin-top: 30px
    }
}

@media(max-width:767px) {
    .single_experience .experience_content {
        width: 100%;
        margin-top: 30px;
        padding: 20px
    }
}

.single_experience .experience_content p {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.single_experience:hover .experience_number div {
    background-color: #0b6cbd;
    color: #fff
}

.single_experience:hover .experience_content {
    background-color: #0b6cbd
}

.single_experience:hover .experience_content p{
    color: #fff
}
